body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: url("./images/grassBackground.jpg");
  font-family: "Press Start 2P", cursive;
}

.score-container {
  height: 80vmin;
  width: 40vmin;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.score-container h1 {
  text-align: center;
}

.score-container .reset-button:hover {
  cursor: pointer;
  animation: flash 0.1s infinite alternate;
  transform: scale(2);
}

@keyframes flash {
  from {
    color: white;
  }
  to {
    color: hotpink;
  }
}

.game-container {
  display: flex;
  flex-wrap: wrap;
  height: 80vmin;
  width: 80vmin;
}

.game-container .dirt-hill {
  flex: 1 1 20%;
  border: 1px solid transparent;
  position: relative;
}

.hidden {
  display: hidden;
}

.dogeUp {
  animation: upDown 1s linear 1;
  position: absolute;
  left: 50%;
  bottom: 0;
}

@keyframes upDown {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: 60px;
  }
}

.holeTop {
  width: 100%;
  height: 50%;
  background: url("images/holeTop.png");
  background-size: cover;
}

.holeBottom {
  position: relative;
  width: 100%;
  height: 50%;
  background: url("images/holeBottom.png");
  background-size: cover;
  z-index: 1;
}

.doge {
  position: absolute;
  animation: upDown 1s linear 1;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0.75, 0.75);
  background: url("images/doge.png");
  background-size: cover;
}
.start {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  background-color: rgba(15, 10, 58, 0.95);
  user-select: none;
  z-index: 10;
}
.start h1 {
  position: absolute; 
  top: 50%;
  left: 50%;
  width: 100%;  
  transform: translate(-50%, -50%);
  margin: auto;
  color: white;
  font-size: 10vmin;
  text-shadow: 4px 4px 5px black;
  text-align: center;
  vertical-align: middle;
}
.hiddenModal  {
  display: none;
}